tr td img{
    width: 100px;
    height: 100px;
}

.buttonRemoveItem{
    background-color: #d63447;
    color: white;
    border-radius: 50px;
    padding: 8px;
    width: 35px;
    outline: none;
    border: none;
    cursor: pointer;
}

.containerData{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerData div button {
    background-color: #8d3434;
    color: white;
    border-radius: 5px;
    padding: 8px;
    width: 70px;
    outline: none;
    border: none;
    cursor: pointer;
}

.spanData{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.spanData span{
    margin: 3px;
}