.containerCart{
    position: relative;
}

.carroCompra{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px black;
    background-color: #EEEDDE;
    transition: all 0.3s ease 0s;
}

.carroCompra:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.carroCompra:active {
    transform: translateY(-1px);
}

.contador{
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 2px 8px;
    position: absolute;
    top: -10px;
    right: -10px;
}