.itemCount{
    background-color: #d9dad7;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.stockActual{
    padding: 5px 0;
}

.itemCount div{
    padding: 5px 0;
}

.buttonMin{
    margin-right: 7px;
}

.buttonMax{
    margin-left: 7px;
}




/* ----- */
.buttonAdd{
    appearance: none;
    background-color: white;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 10px;
    margin-top: 10px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.buttonAdd:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttonAdd:active {
    box-shadow: none;
    transform: translateY(0);
   }


