.itemListContainer{
    /* border: 3px solid red; */
}


.itemListContainer > p{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.itemListContainer .prueba{
    display: flex;
    justify-content: space-evenly;
}