.itemCount{
    background-color: #e3e3e3;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.stockActual{
    padding: 5px 0;
    font-weight: 600;
    font-size: 1.2em;
}

.itemCount div{
    display: flex;
    border: .1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonMin{
    margin-right: 15px;
    padding: 5px 15px;
    border: none;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
    color: black;
    border-right: .1px solid black;
    border-radius: 13px 0px 0px 13px;
    transition: .5s;
}

.buttonMax{
    margin-left: 15px;
    padding: 5px 15px;
    border: none;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
    border-left: .1px solid black;
    border-radius: 0px 13px 13px 0px;
    transition: .5s all;
}

.buttonMin:hover,
.buttonMax:hover{
    background-color: black;
    color: #FFF;
}


.unidadesAdd{
    font-size: 1em;
    font-weight: bold;
}


/* ----- */
.buttonAdd{
    appearance: none;
    background-color: white;
    border: 0.125em solid #1A1A1A;
    border-radius: 5px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.buttonAdd:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttonAdd:active {
    box-shadow: none;
    transform: translateY(0);
   }


